<div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="center center">
      <md-card class="auth-card">
        <md-card-header fxLayoutAlign="center center">
          <h2>Новый пароль</h2>
        </md-card-header>
        <form [formGroup]="newPasswordForm" novalidate (ngSubmit)="setNewPassword(newPasswordForm.value, newPasswordForm.valid)">
          <div class="form-group">
            <md-input-container fxFlex>
              <input mdInput placeholder="Пароль" type="password" minlength="6" maxlength="32" class="form-control"
                     id="password" required formControlName="password">
              <md-error *ngIf="newPasswordForm.controls.password.value.length < 6 || newPasswordForm.controls.password.value.length > 32 ||
              newPasswordForm.controls.password.hasError('required')">
                Пароль должен содержать от 6 до 32 символов
              </md-error>
            </md-input-container>
          </div>

          <div class="form-group">
            <md-input-container fxFlex>
              <input mdInput placeholder="Подтверждение пароля" type="password" class="form-control"
                     id="passwordConfirmation" required formControlName="passwordConfirmation">
              <md-error *ngIf="newPasswordForm.controls.passwordConfirmation.hasError('required')">
                Заполните поле
              </md-error>
            </md-input-container>
          </div>

          <div>
            <button md-raised-button fxFlex type="submit" color="primary" class="submit-button">Ok</button>
          </div>
        </form>
      </md-card>

      <section class="section-under-auth-card" fxLayout="row" fxFlexAlign="center center">
        <a class="link text-under-auth-card" routerLink="../../sign-in">Войти</a>
      </section>
    </div>
  </div>
</div>