<h2 class="title" md-dialog-title>Add track</h2>
<md-dialog-content fxLayout="column" fxLayoutAlign="space-between">
  <md-input-container fxFlex [color]="'accent'">
    <input mdInput placeholder="Track" [(ngModel)]="track">
  </md-input-container>
</md-dialog-content>
<md-dialog-actions class="buttons" fxLayout="row" fxLayoutAlign="space-between">
  <button md-button [md-dialog-close]="false">CANCEL</button>
  <button md-button [md-dialog-close]="sendData()" [disabled]="!track || track.length === 0" class="transition-fast">
    CONFIRM
  </button>
</md-dialog-actions>
