<div fxLayout="column" fxLayoutAlign="start start" *ngIf="readyToDisplay">
  <div fxLayout="row" fxLayoutAlign="center center" class="balance-container" [mdMenuTriggerFor]="sendTokensMenu"
       #sendTokensMenuTrigger="mdMenuTrigger">
    <div class="minus-tokens wallet-update" [@mediumEnterLeaveAnimation] *ngIf="showNegativeBalanceChange">
      - {{walletTokensAmountChange.toFixed(2)}}
    </div>
    <div class="plus-tokens wallet-update" [@mediumEnterLeaveAnimation] *ngIf="showPositiveBalanceChange">
      + {{walletTokensAmountChange.toFixed(2)}}
    </div>
    <div class="account-change wallet-update" [@mediumEnterLeaveAnimation] *ngIf="showAccountChange">Account was switched</div>
    <div fxLayout="row" class="balance">
      <h2 class="unselectable wallet-info">MY WALLET : {{currentBalance.balance.toFixed(2)}} {{tokenSymbol}}</h2>
    </div>
  </div>

  <md-menu #sendTokensMenu="mdMenu" [overlapTrigger]="false" (click)="$event.stopPropagation()">
    <div fxLayout="column" class="form-container" (click)="$event.stopPropagation()">
      <div fxLayout="row" fxLayoutAlign="center center" class="title-container">
        <h2>Send tokens</h2>
      </div>
      <div class="form" fxLayout="column">
        <div fxLayout="column" class="inputs" *ngIf="!sendTokensLoading" [@mediumControlledEnterLeaveAnimation]="sendTokensObj.fadeAnimation">
          <md-input-container [color]="'accent'">
            <input mdInput placeholder="Recipient address" [(ngModel)]="sendTokensObj.address">
          </md-input-container>
          <md-input-container [color]="'accent'">
            <input mdInput type="number" placeholder="Quantity" min="0" [(ngModel)]="sendTokensObj.value">
          </md-input-container>
        </div>
        <button md-button class="button transition-fast" *ngIf="!sendTokensLoading" (click)="sendTokens()"
                [@mediumControlledEnterLeaveAnimation]="sendTokensObj.fadeAnimation"
                [disabled]="!sendTokensObj.value || sendTokensObj.value <= 0 || !sendTokensObj.address || sendTokensObj.address.length === 0">
          SEND
        </button>
        <div fxLayout="row" fxLayoutAlign="center center" class="send-tokens-spinner-container" *ngIf="sendTokensLoading">
          <md-spinner *ngIf="sendTokensLoading"></md-spinner>
        </div>
      </div>
    </div>
  </md-menu>
</div>
