.balance-container {
  cursor: pointer;
}

.balance {
  padding: 8px 16px;
  /*background-color: #239b23;*/
  border: 1px white solid;
  border-radius: 6px;
  height: 40px;
}

.balance-container .minus-tokens {
  font-size: 20px;
  color: #ff0000;
  margin-right: 16px;
}

.balance-container h2 {
  color: white;
  line-height: 22px;
}

.form-container {
  margin-top: 28px;
}

.form-container .form {
  height: 204px;
  width: 265px;
}

.form-container .inputs {
  height: 168px;
  padding: 16px 32px;
}

.form-container .send-tokens-spinner-container {
  height: 204px;
  width: 265px;
}

/deep/ .form-container md-spinner {
  width: 50px;
  height: 50px;
}

/deep/ .form-container md-spinner path {
  stroke: #333333;
}

.form-container .button {
  border-radius: 0;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}

/deep/ .form-container .inputs .mat-input-placeholder {
  color: #333333;
}

/deep/ .form-container .inputs .mat-input-underline {
  background-color: #333333;
}
