.balance-container {
  cursor: pointer;
}

.balance {
  padding: 6px 12px;
  border: 1px white solid;
  border-radius: 6px;
}

.balance-container .wallet-update {
  font-size: 14px;
  color: white;
  margin-right: 16px;
  height: 18px;
  padding: 4px 8px;
  border-radius: 6px;
  line-height: 18px;
}

.balance-container .minus-tokens {
  background-color: #ff0000;
}

.balance-container .plus-tokens {
  background-color: #239b23;
}

.balance-container .account-change {
  background-color: #fffa7a;
  color: #333333;
}

.balance-container .wallet-info {
  color: white;
  line-height: 22px;
  font-size: 16px;
}

.form-container .title-container {
  padding-top: 14px;
  background-color: white;
}

.form-container .form {
  height: 204px;
  width: 265px;
}

.form-container .inputs {
  height: 168px;
  padding: 16px 32px;
}

.form-container .send-tokens-spinner-container {
  height: 204px;
  width: 265px;
}

/deep/ .form-container md-spinner {
  width: 50px;
  height: 50px;
}

/deep/ .form-container md-spinner path {
  stroke: #333333;
}

.form-container .button {
  border-radius: 0;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}

/deep/ .form-container .inputs .mat-input-placeholder {
  color: #333333;
}

/deep/ .form-container .inputs .mat-input-underline {
  background-color: #333333;
}

/deep/ .mat-menu-panel {
  margin-top: 14px;
}
