<h2 class="title">Workers</h2>
<div *ngFor="let worker of workers;">
  {{worker}}
</div>

<div fxLayout="row">
  <div fxLayout="row" fxFlex="30">
    <div fxLayout="column">
      <md-input-container>
        <input mdInput placeholder="Jira username" [(ngModel)]="worker.login">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="ETH address" [(ngModel)]="worker.address">
      </md-input-container>
    </div>
    <button md-button (click)="addWorker()">Add</button>
  </div>
</div>

<h2 class="title">Oracle</h2>
<!--<div *ngFor="let worker of workers;">-->
<!--{{worker}}-->
<!--</div>-->

<div fxLayout="row">
  <div fxLayout="row" fxFlex="30">
    <div fxLayout="column">
      <md-input-container>
        <input mdInput placeholder="Add oracle address" [(ngModel)]="newOracleAddress">
      </md-input-container>
    </div>
    <button md-button (click)="addOracleAddress()">Add</button>
  </div>
</div>
