<div>
  <div *ngFor="let item of items;">
    <div fxLayout="row" fxLayoutAlign="space-around">
      <div><md-checkbox [(ngModel)]="item.selected">select</md-checkbox></div>
      <div fxFlex="5">{{item.track}}</div>
      <div fxFlex="30">{{item.story}}</div>
      <div fxFlex="15">{{item.requestor}}</div>
      <div fxFlex="10">{{item.date}}</div>
      <div fxFlex="5">{{item.votes}}</div>
      <div>
        <button md-button (click)="voteFor(item.id)">Vote</button>
      </div>
      <div fxFlex="5">{{item.avgEstimatedTime}}</div>
      <div fxLayout="row" fxFlex="10">
        <md-input-container>
          <input mdInput placeholder="time" [(ngModel)]="item.myEstimatedTime">
        </md-input-container>
        <button md-button (click)="voteEstimatedTime(item.id,item.myEstimatedTime)">Vote</button>
      </div>
    </div>
  </div>
</div>

<button md-button (click)="initiateSprintVoiting()">Initiate Sprint Voiting</button>

<div fxLayout="row">
  <div fxLayout="column" fxFlex="30">
    <md-input-container>
      <input mdInput placeholder="Track" [(ngModel)]="track">
    </md-input-container>
    <md-input-container>
      <textarea mdInput placeholder="Story descriotion" [(ngModel)]="story"></textarea>
    </md-input-container>
    <button md-button (click)="addStory()">Add</button>
  </div>
</div>
