<h2 class="title" md-dialog-title>Error</h2>
<md-dialog-content fxLayout="column" fxLayoutAlign="center" style="overflow-y: hidden !important;">
  <p>
    You can't create buy order with the price greater than or equal to the minimal price of existing sell orders.
    Please, specify the price less than <strong>{{data}}</strong>
  </p>
</md-dialog-content>
<md-dialog-actions class="buttons" fxLayout="row" fxLayoutAlign="center">
  <button md-button [md-dialog-close]="false">CLOSE</button>
</md-dialog-actions>
