.no-contributors {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: bold;
}

#contributor-list .item {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  min-height: 320px;
  margin: 16px 8px;
  background-color: #fffa7a;
}

#holders-list {
  margin-top: 32px;
}

#holders-list .item {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  min-height: 320px;
}

#holders-list .item {
  margin: 16px 8px;
  background-color: #f9c562;
}

h2 {
  font-size: 20px;
}

h4 {
  font-size: 13px;
}

.main-spinner {
  width: 75px;
  height: 75px;
}

/deep/ .main-spinner path {
  stroke: #333333;
}
