<div fxFlex *ngIf="readyToRenderPage">
  <div id="contributor-list" fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
    <div class="item" *ngFor="let contributor of contributors | sortContributorsByBalancePipe" fxLayout="column" fxLayoutAlign="space-between" fxFlex>
      <div class="main-content" fxLayout="column" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <img *ngIf="contributor.avatar" class="avatar" src="{{contributor.avatar}}" alt="">
          <div *ngIf="!contributor.avatar" class="fake-avatar" fxLayout="row" fxLayoutAlign="center center">
            {{contributor.username[0]}}
          </div>
          <div class="info" fxLayout="column" fxLayoutAlign="center center">
            <h2>{{contributor.username}}</h2>
            <h4>{{contributor.balance}} {{tokenSymbol}} ({{countBalance(contributor.balance)}}%)</h4>
            <p class="wallet-address">{{contributor.walletAddress}}</p>
          </div>
        </div>
      </div>
      <div>
        <p class="caption">DEVELOPER</p>
        <div class="bottom-line"></div>
      </div>
    </div>
  </div>
</div>
