<div fxFlexFill fxLayout="row" fxLayoutAlign="center center" *ngIf="!readyToRenderPage">
  <md-spinner class="main-spinner"></md-spinner>
</div>
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="(!contributors || contributors.length === 0) && readyToRenderPage"
     class="no-contributors" [@shortEnterAnimation]>
  <p>No contributors!</p>
</div>
<div fxFlex *ngIf="readyToRenderPage" [@shortEnterAnimation]>
  <div id="contributor-list" fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
    <div class="item" *ngFor="let contributor of contributors | sortContributorsAndHoldersByBalanceDescendingPipe"
         fxLayout="column" fxLayoutAlign="space-between" fxFlex>
      <app-contributor-list-worker-item fxLayout="column" fxLayoutAlign="space-between" fxFlex
        [contributor]="contributor"
        [tokenSymbol]="tokenSymbol"
        [totalBalance]="totalBalance">
      </app-contributor-list-worker-item>
    </div>
  </div>

  <div id="holders-list" fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
    <div *ngFor="let holder of holders | sortContributorsAndHoldersByBalanceDescendingPipe">
      <div class="item" fxLayout="column" fxLayoutAlign="space-between" fxFlex *ngIf="holder.balance > 0">
        <app-contributor-list-holder-item fxLayout="column" fxLayoutAlign="space-between" fxFlex
          [holder]="holder"
          [tokenSymbol]="tokenSymbol"
          [totalBalance]="totalBalance">
        </app-contributor-list-holder-item>
      </div>
    </div>
  </div>
</div>
