<div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="center center">
      <md-card class="auth-card">
        <md-card-header fxLayoutAlign="center center">
          <h2>Успешно</h2>
        </md-card-header>
        <md-card-content>
          <p>
            Регистрация успешно завершена. Теперь вы можете войти использую ваш email и пароль.
          </p>
        </md-card-content>
      </md-card>

      <section class="section-under-auth-card" fxLayout="row" fxFlexAlign="center center">
        <a class="link text-under-auth-card" routerLink="../sign-in">Войти</a>
      </section>
    </div>
  </div>
</div>