.no-tasks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: bold;
}

h2.heading {
  padding-left: 8px;
  margin-bottom: 10px;
}

.bottom-margin {
  margin-bottom: 30px;
}

#planning-poker .item,
#planning-poker-closed .item {
  width: calc(100% - 16px);
  min-width: calc(100% - 16px);
  max-width: calc(100% - 16px);
  margin: 0 8px;
  padding: 8px 8px 8px 16px;
}

.item-border-top {
  border-top: 1px #e1e1e1 solid;
}

#planning-poker .item,
#planning-poker-closed .item {
  border-left: 1px #e1e1e1 solid;
  border-right: 1px #e1e1e1 solid;
  border-bottom: 1px #e1e1e1 solid;
}

#planning-poker .item .left-side *,
#planning-poker-closed .item .left-side * {
  margin-left: 16px;
}

#planning-poker .item .right-side *,
#planning-poker-closed .item .right-side * {
  margin-left: 8px;
}

#planning-poker .item .left-side .first,
#planning-poker-closed .item .left-side .first {
  margin-left: 0;
}

#planning-poker .item .storyPointsUserChoiceBtn *,
#planning-poker-closed .item .storyPointsUserChoiceBtn * {
  margin-left: 0;
}

#planning-poker .item .story-points-user-choice-cloud,
#planning-poker-closed .item .story-points-user-choice-cloud {
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #239b23;
  font-weight: bold;
  width: 54px;
  color: white;
}

#planning-poker-closed .item .story-points-user-choice-cloud {
  background-color: #769b74;
  margin-right: 8px;
}

#planning-poker .item .assignee-cloud,
#planning-poker-closed .item .assignee-cloud {
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: royalblue;
  font-weight: bold;
  color: white;
}

#planning-poker .item .story-points-user-choice-cloud i,
#planning-poker-closed .item .story-points-user-choice-cloud i {
  margin-left: 4px;
}

#planning-poker .item .story-points-user-choice-cloud span,
#planning-poker .item .story-points-user-choice-cloud div,
#planning-poker .item .story-points-cloud span,
#planning-poker-closed .item .story-points-user-choice-cloud span,
#planning-poker-closed .item .story-points-user-choice-cloud div,
#planning-poker-closed .item .story-points-cloud span {
  margin-left: 0;
}

#planning-poker .item .story-points-user-choice-cloud md-spinner,
#planning-poker .item .story-points-cloud md-spinner,
#planning-poker-closed .item .story-points-user-choice-cloud md-spinner,
#planning-poker-closed .item .story-points-cloud md-spinner {
  margin-left: 0 !important;
  height: 14px;
}

.main-spinner {
  width: 75px;
  height: 75px;
}

/deep/ .main-spinner path {
  stroke: #333333;
}

/deep/ #planning-poker .item .story-points-user-choice-cloud md-spinner path,
/deep/ #planning-poker-closed .item .story-points-user-choice-cloud md-spinner path {
  stroke: white !important;
}

/deep/ #planning-poker .item .story-points-cloud md-spinner path,
/deep/ #planning-poker-closed .item .story-points-cloud md-spinner path {
  stroke: #333333 !important;
}
