<div fxFlexFill fxLayout="row" fxLayoutAlign="center center" *ngIf="!readyToDisplay">
  <md-spinner class="main-spinner"></md-spinner>
</div>
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="((!openedTasks || openedTasks.length === 0) &&
     (!closedTasks || closedTasks.length === 0)) && readyToDisplay"
     class="no-tasks"
     [@shortEnterAnimation]>
  <p>No ussues!</p>
</div>
<div fxFlex *ngIf="readyToDisplay" [@shortEnterAnimation]>
  <h2 class="heading" *ngIf="openedTasks && openedTasks.length > 0">Opened issues</h2>
  <div id="planning-poker" fxLayout="column" [ngClass]="{'bottom-margin': openedTasks && openedTasks.length > 0}">
    <div class="item-wrapper" *ngFor="let task of openedTasks; let index = index">
      <div class="item" fxLayout="row" *ngIf="task.fields.votingWasNotCreated || task.fields.isOpen"
           [ngClass]="{'item-border-top': index === 0}">
        <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
          <div class="left-side" fxLayout="row" fxLayoutAlign="center center">
            <img *ngIf="task.fields.issuetype.name === 'Bug'" class="first unselectable" src="../../assets/images/bug-icon.svg" alt="">
            <img *ngIf="task.fields.issuetype.name === 'Task'" class="first unselectable" src="../../assets/images/task-icon.svg" alt="">
            <img *ngIf="task.fields.issuetype.name === 'Subtask'" class="first unselectable" src="../../assets/images/subtask-icon.svg" alt="">
            <img *ngIf="task.fields.issuetype.name === 'Story'" class="first unselectable" src="../../assets/images/story-icon.svg" alt="">
            <img *ngIf="task.fields.issuetype.name === 'Epic'" class="first unselectable" src="../../assets/images/epic-icon.svg" alt="">
            <p>{{task.fields.summary}}</p>
            <div class="assignee-cloud" fxLayout="row" fxLayoutAlign="center center" *ngIf="task.fields.assignee && task.fields.assignee.displayName">
              {{task.fields.assignee.name}}
            </div>
          </div>
          <div class="right-side" fxLayout="row" fxLayoutAlign="center center">
            <a class="task-key unselectable" href="{{task.link}}" target="_blank">{{task.key}}</a>
            <div class="story-points-cloud" fxLayout="row" fxLayoutAlign="center center">
              <md-spinner *ngIf="task.storyPointsLoading"></md-spinner>
              <span *ngIf="!task.storyPointsLoading" [@alternativeControlFlashAnimation]="task.flashAnimation" class="default-cursor unselectable">
              {{countStoryPoints(task.fields.votesCount, task.fields.votesSum)}}
            </span>
            </div>
            <div class="story-points-user-choice-cloud unselectable pointer" fxLayout="row" fxLayoutAlign="center center"
                 [mdMenuTriggerFor]="storyPointsUserChoiceMenu">
              <md-spinner *ngIf="task.votingLoading"></md-spinner>
              <span *ngIf="!task.fields.votesUserChoice && !task.votingLoading" [@alternativeControlFlashAnimation]="task.flashAnimation">Vote</span>
              <span *ngIf="task.fields.votesUserChoice && !task.votingLoading" [@alternativeControlFlashAnimation]="task.flashAnimation">
              {{task.fields.votesUserChoice}}
            </span>
              <i *ngIf="!task.votingLoading" class="fa fa-caret-down" aria-hidden="true" [@alternativeControlFlashAnimation]="task.flashAnimation"></i>
            </div>
            <md-menu #storyPointsUserChoiceMenu="mdMenu">
              <button md-menu-item *ngFor="let option of storyPointsOptions" (click)="changeStoryPointsUserChoice(task, task.key, option)">
                {{option}}
              </button>
            </md-menu>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="heading" *ngIf="closedTasks && closedTasks.length > 0">Closed issues</h2>
  <div id="planning-poker-closed" fxLayout="column">
    <div class="item-wrapper" *ngFor="let task of closedTasks; let index = index">
      <div class="item" fxLayout="row" [ngClass]="{'item-border-top': index === 0}">
        <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
          <div class="left-side" fxLayout="row" fxLayoutAlign="center center">
            <img *ngIf="task.fields.issuetype.name === 'Bug'" class="first unselectable" src="../../assets/images/bug-icon.svg" alt="">
            <img *ngIf="task.fields.issuetype.name === 'Task'" class="first unselectable" src="../../assets/images/task-icon.svg" alt="">
            <img *ngIf="task.fields.issuetype.name === 'Subtask'" class="first unselectable" src="../../assets/images/subtask-icon.svg" alt="">
            <img *ngIf="task.fields.issuetype.name === 'Story'" class="first unselectable" src="../../assets/images/story-icon.svg" alt="">
            <img *ngIf="task.fields.issuetype.name === 'Epic'" class="first unselectable" src="../../assets/images/epic-icon.svg" alt="">
            <p>{{task.fields.summary}}</p>
            <div class="assignee-cloud" fxLayout="row" fxLayoutAlign="center center" *ngIf="task.fields.assignee && task.fields.assignee.displayName">
              {{task.fields.assignee.name}}
            </div>
          </div>
          <div class="right-side" fxLayout="row" fxLayoutAlign="center center">
            <a class="task-key unselectable" href="{{task.link}}" target="_blank">{{task.key}}</a>
            <div class="story-points-cloud" fxLayout="row" fxLayoutAlign="center center">
              <md-spinner *ngIf="task.storyPointsLoading"></md-spinner>
              <span *ngIf="!task.storyPointsLoading" [@alternativeControlFlashAnimation]="task.flashAnimation" class="default-cursor unselectable">
              {{countStoryPoints(task.fields.votesCount, task.fields.votesSum)}}
            </span>
            </div>
            <div class="story-points-user-choice-cloud unselectable" fxLayout="row" fxLayoutAlign="center center">
              <md-spinner *ngIf="task.votingLoading"></md-spinner>
              <span *ngIf="!task.fields.votesUserChoice && !task.votingLoading" [@alternativeControlFlashAnimation]="task.flashAnimation"
                class="unselectable default-cursor">
                -
              </span>
              <span *ngIf="task.fields.votesUserChoice && !task.votingLoading" [@alternativeControlFlashAnimation]="task.flashAnimation"
                    class="unselectable default-cursor">
              {{task.fields.votesUserChoice}}
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
