<div fxFlex>
  <div id="task-list" fxLayout="column">
    <div class="item" *ngFor="let task of tasks" fxLayout="row" fxLayoutAlign="space-between">
      <div class="left-side" fxLayout="row" fxLayoutAlign="center center">
        <i class="fa fa-anchor first" aria-hidden="true"></i>
        <p>{{task.fields.summary}}</p>
        <div class="assignee-cloud" fxLayout="row" fxLayoutAlign="center center" *ngIf="task.fields.assignee && task.fields.assignee.displayName">
          {{task.fields.assignee.displayName}}
        </div>
      </div>
      <div class="right-side" fxLayout="row" fxLayoutAlign="center center">
        <h3>{{task.key}}</h3>
        <div class="story-points-cloud" fxLayout="row" fxLayoutAlign="center center">
          {{countStoryPoints(task.fields.votesCount, task.fields.votesSum)}}
        </div>
        <div class="story-points-user-choice-cloud unselectable pointer" fxLayout="row" fxLayoutAlign="center center"
             [mdMenuTriggerFor]="storyPointsUserChoiceMenu">
          <span *ngIf="!task.storyPointsUserChoice">Vote</span>
          <span *ngIf="task.storyPointsUserChoice">{{task.storyPointsUserChoice}}</span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </div>
        <md-menu #storyPointsUserChoiceMenu="mdMenu">
          <button md-menu-item *ngFor="let option of storyPointsOptions" (click)="changeStoryPointsUserChoice(task.key, option)">
            {{option}}
          </button>
        </md-menu>
      </div>
    </div>
  </div>
</div>
