<div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="center center">
      <md-card class="auth-card">
        <md-card-header fxLayoutAlign="center center">
          <h2 class="auth-card-header-text">Восстановление пароля</h2>
        </md-card-header>
        <form [formGroup]="passwordRecoveryForm" novalidate (ngSubmit)="recoverPassword(passwordRecoveryForm.value,
        passwordRecoveryForm.valid)">
          <div class="form-group">
            <md-input-container fxFlex>
              <input mdInput placeholder="Email" type="email" class="form-control" id="email" required formControlName="email">

              <md-error *ngIf="passwordRecoveryForm.controls.email.hasError('required')">
                Заполните поле
              </md-error>
              <md-error *ngIf="passwordRecoveryForm.controls.email.hasError('pattern')">
                Введите корректный email
              </md-error>
            </md-input-container>
          </div>

          <div>
            <button md-raised-button fxFlex type="submit" color="primary" class="submit-button">Ok</button>
          </div>
        </form>
      </md-card>

      <section class="section-under-auth-card" fxLayout="row" fxFlexAlign="center center">
        <a class="link text-under-auth-card" routerLink="../sign-in">Войти</a>
      </section>
    </div>
  </div>
</div>