<md-card fxLayout="column" fxFlex="100" class="sidenav no-paddings card-shadow-4 bgc-main square-corners">
  <div fxLayout="column" fxLayoutAlign="center center" class="main-title-container">
    <img src="../../../assets/images/the-scrum-dao.png" alt="" class="logo">
  </div>
  <nav fxLayout="column" *ngIf="readyToRender">
    <a class="nav-button transition-fast" md-button routerLink="/app/contributor-list" color="primary"
       routerLinkActive="active-nav-button">Contributor list</a>
    <a class="nav-button transition-fast" md-button routerLink="/app/crowdsale" color="primary"
       routerLinkActive="active-nav-button">Crowdsale</a>
    <a class="nav-button transition-fast" md-button routerLink="/app/project-backlog" color="primary"
       routerLinkActive="active-nav-button">Project backlog</a>
    <a class="nav-button transition-fast" md-button routerLink="/app/planning-poker" color="primary"
       routerLinkActive="active-nav-button">Planing Poker</a>
    <a class="nav-button transition-fast" md-button routerLink="/app/settings" color="primary" *ngIf="showSettingsLink"
       routerLinkActive="active-nav-button">Settings</a>
  </nav>
</md-card>
