<md-card fxLayout="column" fxFlex="100" class="sidenav no-paddings card-shadow-4 bgc-main square-corners">
  <div fxLayout="column" fxLayoutAlign="center center" class="main-title-container">
  </div>
  <nav fxLayout="column">
    <a class="nav-button transition-fast" md-button routerLink="/app/contributor-list" color="primary"
       routerLinkActive="active-nav-button">Contributor list</a>
    <a class="nav-button transition-fast" md-button routerLink="/app/dashboard" color="primary"
       routerLinkActive="active-nav-button">Dashboard</a>
    <a class="nav-button transition-fast" md-button routerLink="/app/crowdsale" color="primary"
       routerLinkActive="active-nav-button">Crowdsale</a>
    <a class="nav-button transition-fast" md-button routerLink="/app/project-backlog" color="primary"
       routerLinkActive="active-nav-button">Project backlog</a>
    <a class="nav-button transition-fast" md-button routerLink="/app/task-list" color="primary"
       routerLinkActive="active-nav-button">Planing Poker</a>
    <a class="nav-button transition-fast" md-button routerLink="/app/settings" color="primary"
       routerLinkActive="active-nav-button">Settings</a>
  </nav>
</md-card>
