.no-tasks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: bold;
}

#project-backlog .item {
  width: calc(100% - 16px);
  min-width: calc(100% - 16px);
  max-width: calc(100% - 16px);
  margin: 0 8px;
  padding: 8px 16px;
}

.item-border-top {
  border-top: 1px #e1e1e1 solid;
}

#project-backlog .item {
  border-left: 1px #e1e1e1 solid;
  border-right: 1px #e1e1e1 solid;
  border-bottom: 1px #e1e1e1 solid;
}

#project-backlog .item .left-side * {
  margin-left: 16px;
}

#project-backlog .item .right-side * {
  margin-left: 8px;
}

#project-backlog .item .left-side .first,
#project-backlog .item .vote-cloud span {
  margin-left: 0;
}

#project-backlog .item .vote-cloud {
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #239b23;
  font-weight: bold;
  width: 70px;
  color: white;
}

#project-backlog .item .vote-cloud.already-voted {
  background-color: #769b74;
  cursor: default;
}

#project-backlog .item .assignee-cloud {
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: royalblue;
  font-weight: bold;
  color: white;
}

#project-backlog .item .story-points-cloud span,
#project-backlog .item .story-points-cloud md-spinner,
#project-backlog .item .vote-cloud md-spinner {
  margin-left: 0;
}

#project-backlog .item .story-points-cloud md-spinner,
#project-backlog .item .vote-cloud md-spinner {
  height: 14px;
}

.add-button {
  background-color: #333333;
  color: #fffa7a;
  font-size: 24px;
  position: fixed;
  bottom: 16px;
  right: 32px;
}

.main-spinner {
  width: 75px;
  height: 75px;
}

.background-transition-fast {
  -webkit-transition: background-color .2s ease-in-out !important;
  -moz-transition: background-color .2s ease-in-out !important;
  -o-transition: background-color .2s ease-in-out !important;
  transition: background-color .2s ease-in-out !important;
}

/deep/ .main-spinner path {
  stroke: #333333;
}

/deep/ #project-backlog .item .vote-cloud md-spinner path {
  stroke: white !important;
}

/deep/ #project-backlog .item .story-points-cloud md-spinner path {
  stroke: #333333 !important;
}

/deep/ #project-backlog .story-points-dropdown .mat-select-trigger {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}
