#task-list .item {
  width: calc(100% - 16px);
  min-width: calc(100% - 16px);
  max-width: calc(100% - 16px);
  margin: 0 8px;
  padding: 8px 16px;
}

#task-list .item:first-child {
  border: 1px #e1e1e1 solid;
}

#task-list .item:not(first-child) {
  border-left: 1px #e1e1e1 solid;
  border-right: 1px #e1e1e1 solid;
  border-bottom: 1px #e1e1e1 solid;
}

#task-list .item .left-side * {
  margin-left: 16px;
}

#task-list .item .right-side * {
  margin-left: 8px;
}

#task-list .item .left-side .first,
#task-list .item .vote-cloud span {
  margin-left: 0;
}

#task-list .item .vote-cloud {
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #239b23;
  font-weight: bold;
  width: 70px;
  color: white;
}

#task-list .item .assignee-cloud {
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: royalblue;
  font-weight: bold;
  color: white;
}

#task-list .item .story-points-cloud span {
  margin-left: 0;
}

/deep/ #task-list .story-points-dropdown .mat-select-trigger {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.add-button {
  color: #3E475A;
  font-size: 30px;
  margin: 0 8px 8px 0;
}
