<div fxLayout="column" fxFill>

  <div fxLayout="row">
    <md-input-container fxFlex="30">
      <input mdInput placeholder="Add new issue">
    </md-input-container>
    <button md-button>Add</button>
  </div>

  <div id="task-list" fxLayout="column">
    <div class="item" *ngFor="let item of items" fxLayout="row" fxLayoutAlign="space-between">
      <div class="left-side" fxLayout="row" fxLayoutAlign="center center">
        <i class="fa fa-angle-double-up first" aria-hidden="true"></i>
        <p>{{item.description}}</p>
      </div>
      <div class="right-side" fxLayout="row" fxLayoutAlign="center center">
        <h3>{{item.issueId}}</h3>
        <div class="story-points-cloud" fxLayout="row" fxLayoutAlign="center center">{{item.storyPoints}}</div>
        <div mdTooltip="Vote for issue" mdTooltipPosition="after" class="vote-cloud unselectable pointer"
             (click)="voteForIssue(item.issueId)" fxLayout="row" fxLayoutAlign="center center">
          {{fakePercents.toFixed(1)}}%
          <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div fxFlex fxLayoutAlign="end end">
    <button md-mini-fab (click)="openDialog()" class="add-button">+</button>
  </div>
</div>
